<footer>
    <div class="wrapper-full">
        <div id="column-main" class="footer-column">
            <a class="cloud-icon" href="/">DigitalOcean</a>

            <div id="copyright">
                Copyright &copy; 2014<br>
                DigitalOcean &trade; Inc.
            </div>

            <a id="made-in-ny" href="http://nytm.org/made-in-nyc/">Proudly Made in NY</a>

            <div id="privacy">
                <a href="/legal/terms/">Terms, Privacy & Copyright</a>
                <a href="/security/">Security</a>
            </div>
        </div>

        <div id="column-product" class="footer-column">
            <h3>Product</h3>
            <ul>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="/features/">Features</a></li>
                <li><a href="/customers/">Customers</a></li>
                <li><a href="/features/one-click-apps/">One-Click Apps</a></li>
                <li><a href="https://developers.digitalocean.com/">API</a></li>
            </ul>

        </div>
        <div id="column-company" class="footer-column">
            <h3>Company</h3>
            <ul>
                <li><a href="/company/about/">About Us</a></li>
                <li><a href="/company/blog/">Blog</a></li>
                <li><a href="/company/careers/">Careers</a></li>
                <li><a href="/company/press/">Press</a></li>
                <li><a href="/company/logos-and-badges/">Logos & Badges</a></li>
                <li><a href="/company/events/">Events</a></li>
                <li><a href="/company/contact/">Contact</a></li>
            </ul>
        </div>
        <div id="column-help" class="footer-column">
            <h3>Help</h3>
            <ul>
                <li><a href="/help/">Knowledgebase</a></li>
                <li><a href="/help/getting-started/">Getting Started</a></li>
                <li><a target="_blank" href="https://digitalocean.uservoice.com">Feedback</a></li>
                <li><a href="/referral-program/">Referral Program</a></li>
                <li><a target="_blank" href="https://status.digitalocean.com/">Network Status</a></li>
            </ul>
        </div>
        <div id="column-community" class="footer-column">
            <h3>Community</h3>
            <ul>
                <li><a href="/community/">Dashboard</a></li>
                <li><a href="/community/overview">Overview</a></li>
                <li><a href="/community/articles">Tutorials</a></li>
                <li><a href="/community/questions">Questions</a></li>
                <li><a href="/community/projects">Projects</a></li>
                <li><a href="/community/articles/digitalocean-community-article-suggestions-and-ideas">Tutorial
                    Suggestions</a></li>
                <li><a href="/community/get-paid-to-write">Get Paid to Write</a></li>
            </ul>
        </div>
        <div id="column-connect" class="footer-column">
            <h3>Connect</h3>
            <ul>
                <li class="blog"><a href="/company/blog/">Blog</a></li>
                <li class="twitter"><a target="_blank" href="https://twitter.com/digitalocean">Twitter</a></li>
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/DigitalOceanCloudHosting">Facebook</a>
                </li>
                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/company/digitalocean">LinkedIn</a>
                </li>
                <li class="google"><a target="_blank" href="https://plus.google.com/+Digitalocean/posts">Google+</a>
                </li>
                <li class="instagram"><a target="_blank" href="http://instagram.com/thedigitalocean">Instagram</a></li>
                <li class="meetup"><a target="_blank" href="http://www.meetup.com/DigitalOcean_Community/">Meetup</a>
                </li>
            </ul>
        </div>
        <div id="droplet-count">
            <span class="count"></span> Droplets Launched
        </div>
    </div>
</footer>