{% extends 'root.html' %}


{% block body%}

<div class="row">
    <form class="small-12 large-6 columns center" method="post" id="form">
        <fieldset>
            <legend>{{ project.name }}</legend>

            <label>发布至集群:
                <select name="env">
                    {% for env in project.environment %}
                    <option value="{{ env }}">{{ env }}</option>
                    {% end %}
                </select>
            </label>

            <label>版本号:
                <select name="version" id="tags" aria-describedby="tagsHelpText">
                    <option value="0">默认</option>
                </select>

                <p id="tagsHelpText"><a id="refresh-tags" href="#" project="{{ project.code }}">[刷新]</a>版本列表</p>

            </label>


            <input type="hidden" name="project" value="{{ project.code }}"/>
            <label>
                <button type="submit" class="btn">发布</button>
            </label>
        </fieldset>

    </form>
</div>

<div id="msg" class="row">
    <iframe src="/process/?prepare=1" class="small-12 large-10 columns center" style="min-height:300px;" frameborder="0"></iframe>
</div>


{% end %}


{% block css %}
<link href="/static/css/deploy.css" media="screen" rel="stylesheet" type="text/css"/>
{% end %}


{% block js %}
<script src="/static/js/deploy.js"></script>
{% end %}