{% extends 'root.html' %}


{% block body %}


<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4" id="th">

    {% for v in projects.itervalues() %}

    <li>
        <div>

            <a class="th" href="/deploy/{{ v['code'] }}">
                <h1>
                    {{ v['name'] }}
                </h1>
                <img src="{{ v['icon'] }}">
            </a>
        </div>

    </li>

    {% end %}

</ul>

{% end %}


{% block css %}
<link href="/static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
{% end %}